.sidebar {
    .sidebar__wrapper {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 64px);
      justify-content: space-between;
    }
    &__support {
      align-self: center;
      padding: 1rem 0;
    }
  }

  
  